* {
  box-sizing: border-box;
}

article {
  display: inline-block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0px 0px 0px 0px;
}

article img {
  width: 320px;
  height: 320px;
}

.markdown-body article p {
  margin-bottom: 0;
}

.description {
  color: gray;
  font-size: 90%;
}

fieldset {
  border:0;
}
