<li class="post_item">
  <div class="excerpt">
    <div class="excerpt_header">
      <h3 class="post_link">
        {{ .Title  }}
      </h3>
      {{ partial "post-meta" . }}
      <br>
      {{ partial "post-category" . }}
      <br>
      {{ partial "post-author" . }}
      <br>
      {{ partial "post-links" . }}
    </div>
    {{- with .Params.thumbnail }}
    <div class="excerpt_footer partition">
      <div class="excerpt_thumbnail">
        <img src='{{ if (hasPrefix . "http") }}{{ . }}{{ else }}{{ absURL . }}{{ end }}' alt="{{ $.Title }}">
      </div>
      {{ else }}
      <div class="excerpt_footer">
        {{- end }}
        <div>
          <p class="pale">
            {{ if .Params.summary }}
              {{ .Params.summary }}
            {{ else if .Params.abstract }}
              {{ .Params.abstract }}
            {{ else if .Summary }}
              {{ truncate 1000 .Summary }}
            {{ end }}
          </p>
        </div>
      </div>
    </div>
  </li>
