<div class="post_meta">

  {{- with .Params.categories -}}
     <span>
       {{- range . }}
         {{- $category := urlize . }}
         <a href='{{ absLangURL (printf "categories/%s" $category) }}' title="{{ . }}" class="post_tag button button_translucent">
           {{- . }}
         </a>
       {{- end }}
     </span>
  {{- end }}


  {{- with .Params.tags -}}
     <span>
       {{- range . }}
         {{- $tag := urlize . }}
         <a href='{{ absLangURL (printf "tags/%s" $tag) }}' title="{{ . }}" class="post_tag button button_translucent">
           {{- . }}
         </a>
       {{- end }}
     </span>
  {{- end }}

  {{- with .Params.authors -}}
     <span>
       {{- range . }}
         {{- $author := urlize . }}
         <a href='{{ absLangURL (printf "authors/%s" $author) }}' title="{{ . }}" class="post_tag button button_translucent">
           {{- . }}
         </a>
       {{- end }}
     </span>
  {{- end }}

  <span class="page_only"> · {{ partial "share" . }}</span>
</div>
