{{ range . }}

  <span class="list__title--small">
    <h2>{{ .Title }}</h2>
    
    <div class="post__meta">
    <!-- published date -->
    <!-- {{ if not .Date.IsZero }}
      <i class="fas fa-calendar-alt"></i> {{ .Date.Format (.Site.Params.dateformat | default "Jan 02, 2006") }}
    {{ end }} -->
    
    <!-- authors -->
    {{ with .Params.authors }}
      {{ $total := len . }}
      {{ if gt $total 0 }}
          <!-- <br/> -->
          by:
          {{ $subtotal := sub $total 1 }}
          {{ range $i, $aut := . }}
          <a class="badge badge-category" href="{{ "/authors/" | relURL }}{{ $aut | urlize }}">{{ $aut | }}</a>
          {{ if lt $i $subtotal }} {{ end }}
      {{ end }}
    {{ end }}
    {{ end }}
    <br/>
    
    <!-- categories -->
    <!-- {{ with .Params.categories }}
      {{ $total := len . }}
      {{ if gt $total 0 }}
          in
          {{ $total := sub $total 1 }}
          {{ range $i, $cat := sort . }}
              <a class="badge badge-category" href="{{ "/categories/" | relURL }}{{ $cat | urlize }}">{{ $cat | upper }}</a>
              {{ if lt $i $total }}•{{ end }}
          {{ end }}
      {{ end }}
    {{ end }} -->
    
    <!-- tags -->
    {{ with .Params.tags }}
      {{ $total := len . }}
      {{ if gt $total 0 }}
          <!-- <br/> -->
          {{ $subtotal := sub $total 1 }} <i class="fas fa-tags"></i>
          {{ range $i, $tag := . }}
          <a class="badge badge-tag" href="{{ "/tags/" | relURL }}{{ $tag | urlize }}">{{ $tag | lower }}</a>
          {{ if lt $i $subtotal }} {{ end }}
      {{ end }}
    {{ end }}
    {{ end }}
    
    
    {{ with .Params.links }}
      {{ $total := len . }}
      {{ if gt $total 0 }}
          <!-- <br/> -->
          links:
          {{ $subtotal := sub $total 1 }}
          {{ range $i, $lin := . }}
          <a class="badge badge-category" href="{{ "/links/" | relURL }}{{ $lin | urlize }}">{{ $lin | }}</a>
          {{ if lt $i $subtotal }} {{ end }}
      {{ end }}
    {{ end }}
    {{ end }}
    <br/>
    
    
    <!-- <br/>
    <i class="fas fa-clock"></i> {{ .ReadingTime }} min read -->
</div>
    
    
    {{ .Content }}
    
      <!-- {{if not .Date.IsZero}}
      <time class="pull-right hidden-tablet">{{ .Date.Format (.Site.Params.dateformat | default "Jan 02 '06") }}</time>
      {{end}} -->
  </span>
  
  <hr>

{{ end }}
